<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Analysis" ToolsVersion="14.0">
  <Include Path="extendedcorrectnessrules.ruleset" Action="Default" />
  <Include Path="globalizationrules.ruleset" Action="Default" />
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="securityrules.ruleset" Action="Default" />
</RuleSet>